.faq {
	@extend %section;

	&__heading {
		@extend %section-heading;
	}

	&__container {
		@extend %container;
	}
	
	&__item{
		padding: 12px;
		color: var(--color-header);
	}

	&__title {
		position: relative;
		display: inline-flex;
		align-items: center;
		padding: 10px;
		width: 100%;
		background-color: var(--color-footer-contact);
		border-radius: 8px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;

		font-size:  22px;
		line-height: 1.19;
		color: var(--color-header);
		cursor: pointer;
	}

	&__text {
		padding: 10px;
		padding-left: 40px;

		border: 1px solid var(--color-accent);
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		background-color: var(--color-footer-contact);

		font-size:  20px;
		line-height: 1.3;
	}
}

.faq__title {
	&::before,
	&::after {
		content: "";
		width: 20px;
		height: 1px;
		background-color:  var(--color-header);
		position: absolute;
		right: 10px;
		top: 20px;
		transition: transform .3s ease 0s;
		display: none;
		@media screen and (min-width: 768px) {
			display: block;
		}
	}

	&::after {
		transform: rotate(-90deg);
	}

	&._active::after {
		transform: rotate(0deg);
	}

	&._active{
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;

		color: var(--color-accent);
	}
}
