.footer {
	background-color: var(--color-bgr-footer);
	text-align: center;
	padding: 20px;

	&__container {
		@extend %container;

		@media screen and (min-width: 768px) {
			display: flex;
			justify-content: space-around;
			align-items: baseline;
			text-align: left;
		}
	}

	// &__link-address {
	// 	color: var(--color-bgr-head);

	// 	transition:
	// 		color var(--time-animation) var(--timing-function);
	// 	}

	// &__link-address:hover,
	// &__link-address:focus {
	// 	color: var(--color-accent);
	// }

	&__header {
		display: block;
		margin-bottom: 10px;
	
		font-weight: 700;
		line-height: 1.14;
		text-transform: uppercase;
		color: var(--color-bgr-card);
	}
	&__text {
		color: var(--color-bgr-head);
	}

	@media screen and (min-width: 1200px) {
		text-align: left;
	}
}

.footer__address {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-direction: column;
		text-align: left;
	}

	& .contacts {
		padding-top: 10px;
		padding-bottom: 20px;

		@media screen and (min-width: 768px) {
			padding-bottom: 0;
		}
	}

	& .contacts__font-tel,
	& .contacts__font-mail { 
		color: var(--color-footer-contact);
	}

	& .contacts__link:hover,
	& .contacts__link:focus { 
		color: var(--color-accent);
	}



	& .contacts__icon  {
		display: none;
	}
}


