.hero {
	max-width: 100%;
	padding: 20px;

	background-color: var(--color-bgr-hero);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover; 
	text-align: center;

	background-image: linear-gradient(to right,
			var(--color-gradient),
			var(--color-gradient)),
		url("/src/images/hero/hero_480.jpg");

	@media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
			& {
				background-image: linear-gradient(to right,
						var(--color-gradient),
						var(--color-gradient)),
					url("/src/images/hero/hero_480@2x.jpg");
			}
	}

	&__container {
		@extend %container;
	}
	
	&__heading {
		margin-bottom: 120px;

		font-weight: 900;
		font-size: 24px;
		line-height: 1.62;
		letter-spacing: 1.56px;
		text-transform: uppercase;
		color: var(--color-bgr-card);

		@media screen and (min-width: 768px) {
			font-size: 30px;
			line-height: 1.17;
			letter-spacing: 2.64px;
		}

		@media screen and (min-width: 1200px) {
			font-size: 42px;
			line-height: 1.36;
			letter-spacing: 2.64px;
		}
	}

	&__button {
		@extend %button-main;
		min-width: 216px;
		padding: 10px 32px;

		box-shadow: 0;
		transition:
			background-color var(--time-animation) var(--timing-function),
			box-shadow var(--time-animation) var(--timing-function);
	}

	&__button:hover,
	&__button:focus {
			background-color: var(--color-btn-active);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	}

	@media screen and (min-width: 768px) {
		height: 400px;
		padding-top: 30px;

		&__heading {
			margin-bottom: 200px;
		}

		background-image: linear-gradient(to right,
					var(--color-gradient),
					var(--color-gradient)),
				url("/src/images/hero/hero_768.jpg");
		
		@media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
			& {
				background-image: linear-gradient(to right,
						var(--color-gradient),
						var(--color-gradient)),
					url("/src/images/hero/hero_768@2x.jpg");
			}
		}
	}

	@media screen and (min-width: 1200px) {
		height: 600px;
		padding-top: 30px;
		&__heading {
			margin-bottom: 330px;

			font-size: 44px;
			line-height: 1.36;
		}

		background-image: linear-gradient(to right,
			var(--color-gradient),
			var(--color-gradient)),
		url("/src/images/hero/hero_1600.jpg");

		@media (min-device-pixel-ratio: 2),
		(-webkit-min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
			& {
				background-image: linear-gradient(to right,
						var(--color-gradient),
						var(--color-gradient)),
					url("/src/images/hero/hero_1600@2x.jpg");
			}
		}
	}  
}