// *,
// *::before,
// *::after {
// 	cursor: pointer;
// }

body {
	background-color: var(--color-bgr-head);

	font-family: var(--font-main);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--color-main);
}

img {
	display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: inline-block;
  
}


// .icecream-background {
//   background-position: center;
//   background-attachment: fixed;

//   @media screen and (max-width: $tablet-max) {
//     background-image: url('../images/background/background-mobile.jpg');
//     background-size: 885px 1242px;

//     @media (min-device-pixel-ratio: 2),
//       (-webkit-min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: url('../images/background/background-mobile@2x.jpg');
//     }
//   }

//   @media screen and (min-width: $tablet-min) {
//     background-image: url('../images/background/background-tablet.jpg');
//     background-size: 963px 1017px;

//     @media (min-device-pixel-ratio: 2),
//       (-webkit-min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: url('../images/background/background-tablet@2x.jpg');
//     }
//   }

//   @media screen and (min-width: $desktop-min) {
//     background-image: url('../images/background/background-desktop.jpg');
//     background-size: 1300px 1350px;

//     @media (min-device-pixel-ratio: 2),
//       (-webkit-min-device-pixel-ratio: 2),
//       (min-resolution: 192dpi),
//       (min-resolution: 2dppx) {
//       background-image: url('../images/background/background-desktop@2x.jpg');
//     }
//   }
// }
