body {
	background-color: var(--color-bgr-main);

	font-family: var(--font-main);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--color-main);
}

img {
	display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: inline-block;
  
}

.section-heading {
	padding-bottom: 10px;
	font-weight: 700;
	font-size: 22px;
	line-height: 1.18;
	text-align: center;
	color: var(--color-header);
	text-transform: uppercase;

	@media screen and (min-width: 768px) {
		padding-bottom: 20px;
		font-size: 24px;
		line-height: 1.15;
		letter-spacing: 2.64px;
	}

	@media screen and (min-width: 1200px) {
		padding-bottom: 30px;
		font-size: 28px;
		line-height: 1.18;
	}
}

.background-img {
  background-position: center;
  background-attachment: fixed;

  @media screen and (max-width: 767px) {
    background-image: url('/src/images/background/img-bgr-940.jpg');
    background-size: 100vw;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/background/img-bgr-940.jpg');
    }
  }

  @media screen and (min-width: 768px) {
    background-image: url('/src/images/background/img-bgr-1200.jpg');
    background-size: 100vw;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/background/img-bgr-1200.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url('/src/images/background/img-bgr-1200.jpg');
    background-size: 1300px 1350px;
		background-size: 100vw;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/background/img-bgr-1200.jpg');
    }
  }
}
