body {
	background-color: var(--color-bgr-main);

	font-family: var(--font-main);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--color-main);
}

img {
	display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: inline-block;
}
