p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
button,
input,
textarea {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  border: none;
  background-color: inherit;
}

a {
  text-decoration: none;
	color: inherit;
}

.link {
	text-decoration: none;
	font-style: normal;
}
