<div class="menu-container js-menu-container" id="mobile-menu">
	<include src="./partials/components/navigation.html"></include>
	<!-- <ul class="menu-container__list">
		<li class="menu-container__item">
			<a href="#team" class="menu-container__link menu-container__text-nav">Про нас</a>
		</li>
		<li class="menu-container__item">
			<a href="#gallery" class="menu-container__link menu-container__text-nav">Галерея</a>
		</li>
		<li class="menu-container__item">
			<a href="#faq" class="menu-container__link menu-container__text-nav">FAQ</a>
		</li>
		<li class="menu-container__item">
			<a href="#comments"
				class="menu-container__link menu-container__text-nav">Відгуки</a>
		</li>
	</ul> -->

	<!-- <div class="menu-container__contacts"> -->
		<include src="./partials/components/contacts.html"></include>
	<!-- </div> -->

	<button class="menu-toggle js-close-menu">
		<svg class="menu-toggle__icon" width="40" height="40" aria-label="кнопка закриття мобільного меню">
			<use href="./images/icons.svg#menu-close"></use>
		</svg>
	</button>
</div>