<div class="menu-container js-menu-container" id="mobile-menu">
	<div class="js-navigation-menu">
		<include src="./partials/components/navigation.html"></include>
	</div>
	<include src="./partials/components/contacts.html"></include>
	<include src="./partials/components/social-name.html"></include>
	
	<button class="menu-container__btn-close js-close-menu">
		<svg class="menu-container__icon" width="40" height="40" aria-label="кнопка закриття мобільного меню">
			<use href="./images/icons.svg#menu-close"></use>
		</svg>
	</button>
</div>
