%button {
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 4px;

	font-size: 16px;

	cursor: pointer;
}

%button-main {//
	@extend %button;
	background-color: var(--color-accent);
	
	font-weight: 700;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--color-bgr-head);
	
	border: none;
}

%visually-hidden {
	position: absolute;
	padding: 0;
	margin: -1px;

	width: 1px;
	height: 1px;

	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}