:root {
	--color-accent: #2196f3;
	--color-btn-active: #178ae8;
	--color-main: #757575;
	--color-header: #212121;
	--color-bgr-head: #ffffff;
	--color-bgr-main: #e1eaf3;
	--color-bgr-alternative: #f5f4fa;
	--color-bgr-hero: #c4c4c4;
	--color-bgr-footer: #616269;
	--color-bgr-card: #e1eaf3;
	--color-bgr-slider: #9696964d;
	--color-border-section: #ececec;
	--color-border-card: #eeeeee;
	--color-footer-contact: #ffffff99;
	--color-gradient: #2f303a66;
	--color-bgr-icon: #ffffff1a;
	--color-icon: #afb1b858;

	--font-main: "Roboto", sans-serif;
	--font-logo: "Raleway", sans-serif;

	--time-animation: 250ms;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
