:root {
	--color-accent: #2196f3;//
	--color-btn-active: #178ae8;//
	--color-main: #757575;//
	--color-header: #212121;//
	--color-logo: #000000;
	--color-bgr-head: #ffffff;//
	--color-bgr-main: #f5f5f5;
	--color-bgr-alternative: #f5f4fa;//
	--color-bgr-hero: #c4c4c4;//
	--color-bgr-footer: #2f303a;
	--color-border-section: #ececec;//
	--color-border-card: #eeeeee;//
	--color-border-client: #afb1b8;
	--color-footer-contact: #ffffff99;
	--color-gradient: #2f303a66;//
	--color-bgr-icon: #ffffff1a;
	--color-icon: #afb1b8;//

	--font-main: "Roboto", sans-serif;//
	--font-logo: "Raleway", sans-serif;

	--time-animation: 250ms;//
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);//
}

// $mobile-padding: 60px;
// $desktop-padding: 94px;
