:root {
  --main-text-color: #131313;
  --secondary-text-color: #fcfcfc;
  --btn-text-color: #000000;
  --btn-hover-color: #0a8817;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f8d24e;
  --main-gradient-color: #84a178;
  --secondary-gradient-color: #84a278;
  --line-color: #e1e1e1;
  --disable-btn-color: #ababab;
  --ingredients-color: #9cbe8f;
  --form-bg-color: #f8d24e1a;
  --address-color: #d6936d;
  --dots-color: #d9d9d9;
  --time-color: #907e82;
  --icecream-bg-color: #aec6a5;
  --icecream-border-color: #96af8c;
  --review-photo-bg: #6e6e6e;
  --footer-policy-color: #7a7a7a;
  --mobile-menu-bg-color: #85a279;
  --ice-coffee-color: #efd478;
  --back-to-top: #f0db98f1;
}

// breakpoints

$mini-mobile-max: 319px;
$mini-mobile-min: 320px;
$mobile-max: 479px;
$mobile-min: 480px;
$tablet-max: 767px;
$tablet-min: 768px;
$desktop-max: 1199px;
$desktop-min: 1200px;
