<ul class="contact">
	<li class="contact__item">
		<a href="mailto:info@assaf.com" class="contact__link contact__font-tel">
			<svg class="contact__icon" width="24" height="18">
				<use href="./images/icons.svg#envelope"></use>
			</svg>
			info@assaff.com
		</a>
	</li>
	<li class="contact__item">
		<a href="tel:+380961111111" class="contact__link contact__font-mail">
			<svg class="contact__icon" width="16" height="24">
				<use href="./images/icons.svg#smartphone"></use>
			</svg>
			+38 096 111 11 11
		</a>
	</li>
</ul>