<ul class="social-logo">
	<li class="social-logo__item">
		<a href="#" class="social-logo__link">
			<svg class="social-logo__icon" width="20" height="20">
				<use href="./images/icons.svg#instagram"></use>
			</svg>
		</a>
	</li>
	<li class="social-logo__item">
		<a href="#" class="social-logo__link">
			<svg class="social-logo__icon" width="20" height="20">
				<use href="./images/icons.svg#twitter"></use>
			</svg>
		</a>
	</li>
	<li class="social-logo__item">
		<a href="#" class="social-logo__link">
			<svg class="social-logo__icon" width="20" height="20">
				<use href="./images/icons.svg#facebook"></use>
			</svg>
		</a>
	</li>
	<li class="social-logo__item">
		<a href="#" class="social-logo__link">
			<svg class="social-logo__icon" width="20" height="20">
				<use href="./images/icons.svg#linkedin"></use>
			</svg>
		</a>
	</li>
</ul>
