<section class="comments" id="comments">
	<div class="comments__container">
		<h2 class="comments__heading">Відгуки</h2>
		<div class="comments-slider swiper">
			<div class="comments-slider__wrapper swiper-wrapper">
				<div data-hash="slide-1" class="comments-slider__slider swiper-slide">
					<div class="comments-slider__comment">
						<h3 class="comments-slider__header">Джордж Р.Р. Мартін</h3>
						<p class="comments-slider__text">Присвячую Джону і Гейл, з якими ми з’їли пуд меду й м’яса</p>
					</div>
				</div>
				<div data-hash="slide-1" class="comments-slider__slider swiper-slide">
					<div class="comments-slider__comment">
						<h3 class="comments-slider__header">Тур</h3>
						<p class="comments-slider__text">Та однак... однак... комета вже палає навіть удень, коли позаду замку з гарячих джерел Драконстону здіймається світло-сіра пара, а вчора зранку білий крук приніс звістку з самої Цитаделі — давноочікувану, але від того не менш застрашливу звістку про кінець літа. Знаки, знаки. </p>
					</div>
				</div>
				<div data-hash="slide-1" class="comments-slider__slider swiper-slide">
					<div class="comments-slider__comment">
						<h3 class="comments-slider__header">Око</h3>
						<p class="comments-slider__text">Мейстер стояв на незахищеному од вітру балконі в своїх покоях. Саме сюди після довгої подорожі зліталися круки. Обабіч мейстра стриміли загиджені круками химери — дебелі, дванадцять футів заввишки,— триголовий пес і крилатий дракон, двійко з цілої тисячі, що нависали над стінами стародавньої кріпості.</p>
					</div>
				</div>
				<div data-hash="slide-1" class="comments-slider__slider swiper-slide">
					<div class="comments-slider__comment">
						<h3 class="comments-slider__header">Грай</h3>
						<p class="comments-slider__text">Мейстер не вірив у прикмети. А проте... хай який уже Кресен старий, а зроду ще не бачив комети і вполовину такої яскравої, а тим паче такого кольору — жахливої барви крові, полум’я й сонячного заходу. Цікаво, думав він, чи бачили таку комету химери?</p>
					</div>
				</div>
				<div data-hash="slide-1" class="comments-slider__slider swiper-slide">
					<div class="comments-slider__comment">
						<h3 class="comments-slider__header">Тур</h3>
						<p class="comments-slider__text">Хвіст комети простягнувся у світанковій високості, як червоний розтин, що кривавився понад стрімчаками Драконстону, наче рана в рожево-багряному небі.</p>
					</div>
				</div>
			</div>

			<!-- <div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div> -->
			<!-- <div class="swiper-pagination"></div> -->
			<div class="swiper-scrollbar"></div>
		</div>
	</div>
</section>
