<section class="faq" id="faq">
	<div class="faq__container">
		<h2 class="faq__heading">Поширені запитання та відповіді</h2>

		<ul data-one-spoiler class="faq__list">
			<li class="faq__item">
				<button type="button" data-spoiler class="faq__title">Lorem ipsum dolor sit amet consectetur?</button>
				<p class="faq__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique facilis modi eaque ut,
					reiciendis culpa,
					perspiciatis iure, sequi tempore ea aliquam qui.</p>
			</li>
			<li class="faq__item">
				<button type="button" data-spoiler class="faq__title">Lorem ipsum dolor sit, amet consectetur adipisicing elit?</button>
				<p class="faq__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam aut excepturi nemo
					temporibus unde veritatis
					vitae sint quod non recusandae, alias cupiditate assumenda consequuntur accusamus! Incidunt velit voluptatum
					corrupti alias consequuntur eligendi dolore! Temporibus, tempore labore. Similique, vel?</p>
			</li>
			<li class="faq__item">
				<button type="button" data-spoiler class="faq__title">Lorem ipsum dolor sit amet?</button>
				<p class="faq__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quidem libero laboriosam
					esse voluptas?</p>
			</li>
			<li class="faq__item">
				<button type="button" data-spoiler class="faq__title">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum.</button>
				<p class="faq__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, doloribus eveniet
					voluptatem natus
					repudiandae a mollitia assumenda deleniti exercitationem odit?</p>
			</li>
		</ul>
	</div>
</section>