<section class="gallery" id="gallery">
	<div class="gallery__container">
		<h2 class="gallery__heading">Галерея</h2>
		<div class="gallery-slider swiper">
			<div class="gallery-slider__wrapper swiper-wrapper">
				<div data-hash="slide-1" class="gallery-slider__slider swiper-slide">
					<div class="gallery-slider__image swiper-zoom-container">
						<img src="./images/gallery/1.png" alt="фото">
					</div>
				</div>
				<div data-hash="slide-2" class="gallery-slider__slide swiper-slide">
					<div class="gallery-slider__image swiper-zoom-container">
						<img src="./images/gallery/2.png" alt="фото">
					</div>
				</div>
				<div data-hash="slide-3" class="gallery-slider__slide swiper-slide">
					<div class="gallery-slider__image swiper-zoom-container">
						<img src="./images/gallery/3.png" alt="фото">
					</div>
				</div>
				<div data-hash="slide-4" class="gallery-slider__slide swiper-slide">
					<div class="gallery-slider__image swiper-zoom-container">
						<img src="./images/gallery/4.png" alt="фото">
					</div>
				</div>
			</div>

			<!-- <div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div> -->
			<div class="swiper-pagination"></div>
			<!-- <div class="swiper-scrollbar"></div> -->
		</div>
	</div>
</section>
