
<header class="header" id="header">
	<div class="container header__container">
		<img src="./images/logo.svg" alt="" width="30" height="30" alt="гітара"/>

		<div class="nav-and-contact">
			<nav class="header__nav">
				<div class="header-logo">
					<include src="./partials/fragments/logo.html"></include>
				</div>

				<div class="header__navigation">
					<include src="./partials/fragments/navigation.html"></include>
				</div>
			</nav>
			<include src="./partials/contacts.html"></include>
		</div>

		<include src="./partials/fragments/burger-button.html"></include>
	</div>
</header>