<section class="services section" id="services">
	<div class="container">
		<h2 class="section-heading">Що пропонуємо</h2>
		<ul class="services__list">
			<li class="services__item">
					<div class="services__relation">
						<img src="./images/services/concerts.jpg" width="370" alt="Концертна зала">
						<p class="services__text">Тут текст про Концерти <br/><br/>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus eius dicta quisquam minus eligendi recusandae optio rerum corporis earum aliquam?
						</p>
					</div>
					<div class="services__description">
						<h2 class="services__name">Концерти</h2>
						<p class="services__application">Виступи в залах</p>
					</div>
			</li>
			<li class="services__item">
					<div class="services__relation">
						<img src="./images/services/studio.jpg" width="370" alt="Обладнання студії">
						<p class="services__text">Тут текст про Студійні записи <br/><br/>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus eius dicta quisquam minus eligendi recusandae optio rerum corporis earum aliquam?
						</p>
					</div>
					<div class="services__description">
						<h2 class="services__name">Студія</h2>
						<p class="services__application">Студійні записи</p>
					</div>
			</li>
			<li class="services__item">
					<div class="services__relation">
						<img src="./images/services/events.jpg" width="370" alt="Фото події">
						<p class="services__text">Тут текст про Події <br/><br/>
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus eius dicta quisquam minus eligendi recusandae optio rerum corporis earum aliquam?
						</p>
					</div>
					<div class="services__description">
						<h2 class="services__name">Події</h2>
						<p class="services__application">По запрошенню</p>
					</div>
			</li>
		</ul>
	</div>
</section>