<section class="team section" id="team">
	<div class="container">
		<h2 class="section-heading">Наша команда</h2>
		<ul class="team__list">
			<li class="team__card">
				<!-- <img
					srcset="./images/leader_450.jpg 480w, ./images/leader_450@2x.jpg 960w, ./images/leader_354.jpg 768w, ./images/leader_354@2x.jpg 1536w, ./images/leader_270.jpg 1200w, ./images/leader_270@2x.jpg 2400w"
					src="./images/leader_450.jpg"
					sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 480px, 100vw"
					alt="Фото лідера"> -->
				<img src="./images/team/leader.jpg" class="team__img" width="270" alt="Фото лідера">
				<div class="team__description">
					<h3 class="team__name">Кіріл-assaff</h3>
					<p class="team__specialization" lang="en">клавіші, вокал</p>
					<ul class="social">
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" 
								height="20">
									<use href="./images/icons.svg#instagram"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#twitter"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="#" class="team__link social__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#facebook"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#linkedin"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="team__card">
				<!-- <img
					srcset="./images/solo_450.jpg 480w, ./images/solo_450@2x.jpg 960w, ./images/solo_354.jpg 768w, ./images/solo_354@2x.jpg 1536w, ./images/solo_270.jpg 1200w, ./images/solo_270@2x.jpg 2400w"
					src="./images/solo_450.jpg"
					sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 480px, 100vw"
					alt="Фото соло-гітариста"> -->
				<img src="./images/team/solo.jpg" class="team__img" width="270" alt="Фото соло-гітариста">
				<div class="team__description">
					<h3 class="team__name">Олексій Бірук</h3>
					<p class="team__specialization" lang="en">Соло-гітара</p>
					<ul class="social">
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#instagram"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#twitter"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#facebook"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#linkedin"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="team__card">
				<!-- <img
					srcset="./images/bass_450.jpg 480w, ./images/bass_450@2x.jpg 960w, ./images/bass_354.jpg 768w, ./images/bass_354@2x.jpg 1536w, ./images/bass_270.jpg 1200w, ./images/bass_270@2x.jpg 2400w"
					src="./images/bass_450.jpg"
					sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 480px, 100vw"
					alt="Фото бас-гітариста"> -->
				<img src="./images/team/bass.jpg" class="team__img" width="270" alt="Фото бас-гітариста">
				<div class="team__description">
					<h3 class="team__name">Антон Голінко</h3>
					<p class="team__specialization" lang="en">Бас-гітара</p>
					<ul class="social">
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#instagram"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#twitter"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#facebook"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#linkedin"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="team__card">
				<!-- <img
					srcset="./images/drummer_450.jpg 480w, ./images/drummer_450@2x.jpg 960w, ./images/drummer_354.jpg 768w, ./images/drummer_354@2x.jpg 1536w, ./images/drummer_270.jpg 1200w, ./images/drummer_270@2x.jpg 2400w"
					src="./images/drummer_450.jpg"
					sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 480px, 100vw"
					alt="Фото барабанщика"> -->
				<img src="./images/team/drummer.jpg" class="team__img" width="270" alt="Фото барабанщика">
				<div class="team__description">
					<h3 class="team__name">Міша Halaktyonov</h3>
					<p class="team__specialization" lang="en">Барабани</p>
					<ul class="social">
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#instagram"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#twitter"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#facebook"></use>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a href="#" class="social__link team__link">
								<svg class="social__icon" width="20" height="20">
									<use href="./images/icons.svg#linkedin"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</section>