<section class="faq section" id="faq">
	<div class="container">
		<h2>Поширені запитання та відповіді</h2>
		<ul class="faq__list">
			<li class="faq__item">
				<h3 class="faq-header">Lorem ipsum dolor sit amet consectetur?</h3>
				<p class="faq__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique facilis modi eaque ut,
					reiciendis culpa,
					perspiciatis iure, sequi tempore ea aliquam qui.</p>
			</li>
			<li class="faq__item">
				<h3 class="faq-header">Lorem ipsum dolor sit, amet consectetur adipisicing elit?</h3>
				<p class="faq__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam aut excepturi nemo
					temporibus unde veritatis
					vitae sint quod non recusandae, alias cupiditate assumenda consequuntur accusamus! Incidunt velit voluptatum
					corrupti alias consequuntur eligendi dolore! Temporibus, tempore labore. Similique, vel?</p>
			</li>
			<li class="faq__item">
				<h3 class="faq-header">Lorem ipsum dolor sit amet?</h3>
				<p class="faq__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quidem libero laboriosam
					esse voluptas?</p>
			</li>
			<li class="faq__item">
				<h3 class="faq-header">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum.</h3>
				<p class="faq__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, doloribus eveniet
					voluptatem natus
					repudiandae a mollitia assumenda deleniti exercitationem odit?</p>
			</li>
		</ul>
	</div>
</section>