<section class="footer section" id="footer">
	<div class="container">
		<h1>FOOTER</h1>
	</div>
</section>

<footer class="footer container footer__container">
	<div class="footer__address">
		<a href="./index.html" class="logo">ASSAFF</a>
		<address>
			<ul class="footer__list">
				<li><a href="mailto:info@assaff.com" class="footer__contact footer__link-address">info@assaff.com</a>
				</li>
				<li><a href="tel:+380961111111" class="footer__contact footer__link-address">+38 096 111 11 11</a></li>
			</ul>
		</address>
	</div>
	<div class="footer__appeal">
		<p class="footer__header">Приєднуйтесь</p>
		<ul class="social">
			<li class="social__item">
				<a href="#" class="social__link footer__link-icon">
					<svg class="social__icon" width="20" height="20">
						<!-- <use href="./images/icons.svg#instagram"></use> -->
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link footer__link-icon">
					<svg class="social__icon" width="20" height="20">
						<!-- <use href="./images/icons.svg#twitter"></use> -->
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link footer__link-icon">
					<svg class="social__icon" width="20" height="20">
						<!-- <use href="./images/icons.svg#facebook"></use> -->
					</svg>
				</a>
			</li>
			<li class="social__item">
				<a href="#" class="social__link footer__link-icon">
					<svg class="social__icon" width="20" height="20">
						<!-- <use href="./images/icons.svg#linkedin"></use> -->
					</svg>
				</a>
			</li>
		</ul>
	</div>
	<div class="subscription footer__subscription">
		<form>
			<label for="subscription" class="footer__header">Підпишіться на розсилку</label>
			<div class="subscription__wrapper">
				<input class="subscription__input" type="text" placeholder="E-mail" name="subscription" id="subscription">
				<button type="submit" class="subscription__button">Підписатися
					<svg class="subscription__icon" width="24" height="24">
						<!-- <use href="./images/icons.svg#send"></use> -->
					</svg>
				</button>
			</div>
		</form>
	</div>
</footer>