<div class="menu-container js-menu-container" id="mobile-menu">
	<ul class="menu-container__list">
		<li class="menu-container__item">
			<a href="#team" class="menu-container__link menu-container__text-nav">Про нас</a>
		</li>
		<li class="menu-container__item">
			<a href="#photos" class="menu-container__link menu-container__text-nav">Фото</a>
		</li>
		<li class="menu-container__item">
			<a href="#comments"
				class="menu-container__link menu-container__text-nav">Відгуки</a>
		</li>
		<li class="menu-container__item">
			<a href="#faq" class="menu-container__link menu-container__text-nav">FAQ</a>
		</li>
	</ul>

	<div class="menu-container__contact">
		<ul class="menu-container__list">
			<li class="menu-container__item">
				<a href="tel:+380961111111" class="menu-container__link menu-container__text-tel">
					+38 096 111 11 11
				</a>
			</li>
			<li class="menu-container__item">
				<a href="mailto:info@assaff.com" class="menu-container__link menu-container__text-mail">
					info@assaff.com
				</a>
			</li>
		</ul>

		<ul class="social-media menu-container__list">
			<li class="social-media__item">
				<a href="#" class="social-media__link" lang="en">Instagram</a>
			</li>
			<li class="social-media__item">
				<a href="#" class="social-media__link" lang="en">Twitter</a>
			</li>
			<li class="social-media__item">
				<a href="#" class="social-media__link" lang="en">Facebook</a>
			</li>
			<li class="social-media__item">
				<a href="#" class="social-media__link" lang="en">LinkedIn</a>
			</li>
		</ul>
	</div>

	<button class="menu-toggle js-close-menu">
		<svg class="menu-toggle__icon" width="40" height="40" aria-label="кнопка закриття мобільного меню">
			<use href="./images/icons.svg#menu-close"></use>
		</svg>
	</button>
</div>