<section class="services section" id="services">
	<div class="container">
		<h2 class="services__heading">Наші принципи</h2>
		<ul class="services__grid">
			<li class="services__item">
				<div class="services__icon-bgr">
					<svg width="70" height="70">
						<!-- <use href="./images/icons.svg#antenna"></use> -->
					</svg>
				</div>
				<h3 class="services__item-header">Концерти</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
			</li>
			<li class="services__item">
				<div class="services__icon-bgr">
					<svg width="70" height="70">
						<!-- <use href="./images/icons.svg#clock"></use> -->
					</svg>
				</div>
				<h3 class="services__item-header">Заходи</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
			</li>
			<li class="services__item">
				<div class="services__icon-bgr">
					<svg width="70" height="70">
						<!-- <use href="./images/icons.svg#diagram"></use> -->
					</svg>
				</div>
				<h3 class="services__item-header">Події</h3>
				<p>Lorem ipsum dolor sit amet consectetur</p>
			</li>
			<li class="services__item">
				<div class="services__icon-bgr">
					<svg width="70" height="70">
						<!-- <use href="./images/icons.svg#astronaut"></use> -->
					</svg>
				</div>
				<h3 class="services__item-header">Запис</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur adipisci fugit quaerat.</p>
			</li>
		</ul>
	</div>
</section>