<section class="services section" id="services">
	<div class="container">
		<h2 class="services__heading">Що пропонуємо</h2>
		<ul class="services">
			<li class="services__item">
				<a href="#" class="services__link">
					<div class="services__relation">
						<img src="./images/services/concerts.jpg" width="370" alt="Концертна зала">
						<p class="services__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Consequuntur non laborum possimus distinctio ratione qui dolore.
							Obcaecati ab consequuntur nesciunt architecto doloremque.
						</p>
					</div>
					<div class="services__description">
						<h2 class="services__name">Концерти</h2>
						<p class="services__application">Виступи в залах</p>
					</div>
				</a>
			</li>
			<li class="services__item">
				<a href="#" class="services__link">
					<div class="services__relation">
						<img src="./images/services/studio.jpg" width="370" alt="Обладнання студії">
						<p class="services__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Consequuntur non laborum possimus distinctio ratione qui dolore.
							Obcaecati ab consequuntur nesciunt architecto doloremque.
						</p>
					</div>
					<div class="services__description">
						<h2 class="services__name">Студія</h2>
						<p class="services__application">Студійні записи</p>
					</div>
				</a>
			</li>
			<li class="services__item">
				<a href="#" class="services__link">
					<div class="services__relation">
						<img src="./images/services/events.jpg" width="370" alt="Фото події">
						<p class="services__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Consequuntur non laborum possimus distinctio ratione qui dolore.
							Obcaecati ab consequuntur nesciunt architecto doloremque.
						</p>
					</div>
					<div class="services__description">
						<h2 class="services__name">Події</h2>
						<p class="services__application">Виступи по запрошенню</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>