.navigation {
	gap: 50px;

	&__item {
		display: block;
	}

	&__link {
		padding-top: 32px;
		padding-bottom: 32px;

		font-weight: 500;
		line-height: 1.14;
		letter-spacing: 0.03em;
		color: var(--color-header);
	}
	
	@media screen and (min-width: 768px) {
			display: flex;
			padding: 0;
			justify-content: center;
	}

	&__link:hover,
	&__link:focus {
		color: var(--color-accent);
	}
}