
.social-name {
	display: flex;
	flex-wrap: wrap;

	&__item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: baseline;
		position: relative;

		font-weight: 500;
		font-size: 18px;
		line-height: 1.22;
		letter-spacing: 0.02em;
	}

	&__item:not(:last-child) {
		margin-right: 10px;
	}

	&__item:not(:first-child) {
		margin-left: 10px;
	}

	&__item:nth-child(n+2)::after {
		content: "";
		display: block;
		position: absolute;
		background-color: var(--color-bgr-separator);
		width: 22px;
		height: 1px;
		top: 90%;
		left: -10%;
		transform-origin: bottom left;
		transform: rotate(-90deg);
	}
	
	&__link {
		color: var(--color-accent);
	}
}