.swiper {
  width: 800px;
  height: 600px;
}

.image-slider {
	padding: 30px 0 100px px 0;
	width: 900px;
}

// .image-slider__wrapper {

// }

.image-slider__image {
	display: flex;
	// align-items: center;
	justify-content: center;
}

.image-slider__image {
	text-align:center;
}

.image-slider__image img {
	max-width:100%;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
	color: #fff;
	font-size: 40px;
}

.swiper-pagination {
	margin-top: 20px;
}

.image-slider .swiper-scrollbar {
	height: 4px;
	background-color: var(--color-bgr-main);
}

.image-slider .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	background-color: var(--color-bgr-main);
}

// .image-slider .swiper-slide {
// 	width: auto;
// }
