.image-slider {
  width: 1200px;
  height: 600px;

	&__image {
		display: flex;
		justify-content: center;
	}

	&__image img {
		width:100%;
	}

	// & .swiper-button-prev::after,
	// & .swiper-button-next::after {
	// 	color: #fff;
	// 	font-size: 40px;
	// }

	& .swiper-pagination-bullet {
		width: 20px;
		height: 20px;
		line-height: 20px;
		font-size: 14px;
		background-color: var(--color-bgr-main);
	}
}

.swiper-pagination {
	margin-top: 20px;
}
