.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	padding: 15px;
	overflow-y: scroll;

	background-color: var(--color-bgr-separator);
	opacity: 1;
	transition:
		opacity var(--time-animation) var(--timing-function);
}
