.menu-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 40px 24px 60px;

	font-weight: 500;
	letter-spacing: 0.02em;

	background-color: var(--color-bgr-main);
	z-index: 998;

	transform: translateX(100%);
	transition: transform var(--time-animation) ease-in-out;

	&.is-open {
		transform: translateX(0);
	}

	// &__link {
	// 	color: var(--color-header);
	// }

	&__btn-close {
		@extend %menu-toggle;
		position: absolute;
		top: 16px;
		right: 16px;
	}
	
	&__icon {
		fill: currentColor;
	}
}

.menu-container .navigation {
	&__item:not(:last-child) {
		margin-bottom: 18px;
	}

	&__item:last-child {
		margin-bottom: 32px;
	}

	&__link {
		font-size: 30px;
		line-height: 1.18;
	}
}

.menu-container .contacts {
	@media screen and (max-width: 480px) {
		flex-direction: column-reverse;

		&__font-tel {
			font-size: 20px;
			line-height: 1.18;
			color: var(--color-accent);
		}

		&__font-mail {
			font-size: 20px;
			line-height: 1.17;
			color: var(--color-main);
		}
	}
}
